

.h1 {
    color: aliceblue;
    position: relative;
    z-index: 2; /* Ensures the heading appears above the canvas */
    text-align: center;
    font-style: italic;
    font-size: 40px;
    margin-top: 100px;
    
 
    
 }
 .p {
     color: whitesmoke;
     position: relative;
     z-index: 2;
     font-size: 100px;
     text-align: center;
     

     
     
    
 }
 .pi{
    color: whitesmoke;
    position: relative;
    z-index: 2;
    font-size: 100px;
    text-align: center;
   
    
 }
 
 /* Align social links to the left */
.hi {
    color: whitesmoke;
    position: relative;
    z-index: 2;
  
    margin-right:500px;
    display:flex;
    margin-left:500px;  
    margin-bottom:30px;
    margin-top: 0px;
}

.hi1{
    color: whitesmoke;
    position: relative;
    z-index: 2;
    top:0%;
    margin-right: 500px;
    display:flex;
    margin-left:500px;  
    margin-bottom:30px;
    margin-top: 0px;
}
/* Example styling for the logos */
.logo {
    width: 70px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 100px; /* Adjust spacing between logos */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top:10px;
    margin-left:20px;
    position: relative;
    display:flex;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s ease; /* Add smooth transition effect */

}
.logo:hover {
    transform: scale(1.1); /* Scale up the logo on hover */
}

 .mi{
    color: whitesmoke;
     position: relative;
     z-index: 2;
     font-size: 50px;
     font-style: italic;
     margin-top:0px;
     text-align:center;
     margin-bottom: 30px;
    
 }
 about{
    margin-top:30px;
 }
 skills{
    margin-top: 30px;
 }
 .me{
    color: whitesmoke;
     position: relative;
     z-index: 2;
     font-size: 100px;
     margin-top:50px;
    text-align: center;
     font-style: italic;
 }
 .p1{
    color: whitesmoke;
    position: relative;
    z-index: 2;
    font-size: 20px;
    margin-left:150px;
    margin-top: 10px;
    margin-right: 150px;
    line-height: 30px;
    text-align:justify;
    margin-bottom: 200px;
    
 
 }
 /* Center content vertically */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* Adjust to your preference */
}

about me{
    padding: 20px;
            margin-top: 50px;
            background-color: #f4f4f4;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 canvas {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #000;
 }
 
 .container {
    
        position: fixed;
        top: 0;
        left: 50%;
        right: 0;
        z-index: 2;
        text-align: center;
        transform: translateX(-50%);/* Optional: Add a background color */
        width: 100%; /* Ensure the header spans the full width */
        padding: 10px 0; /* Optional: Add padding for better spacing */
        /* Add additional styling as needed */
    }
    
    
  
     
    
    
     
 
 .btn {
     display: inline-block;
     padding: 10px 20px;
     margin: 10px;
     background-color: blue;
     color: #fff;
     text-decoration: none;
     border: none;
     border-radius: 22px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 .btn:hover {
     background-color: skyblue;
 }
 .para1{
    z-index: 2;
    color: whitesmoke;
    font-style: italic;
    font-size: 20px;
    position: relative;
    text-align:center;
}
.projects{
    margin-top: 0px;
    margin-left:350px;
    z-index:2;
}
.myproject{
    z-index:2;
    font-size: 100px;
    color: white;
    margin-top:0px;
}
.project-box{
    background-color: white;
   
    color: white;
    z-index: 2;
    transform: translateX(-50%);
   
    width: calc(33.33% - 5px); /* Adjust as needed for spacing */
    margin-bottom: 20px;
    box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
    .project-box {
        width: calc(33.333% - 10px); /* Adjust as needed for spacing */
    }
}
.project-info{
    background-color: white;
    color: black;
    padding: 10px;
   
    border-radius: 5px;

}
.project-info h3 {
    color:black;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}
.project-info p {
    color:black;
}
.project-box:hover {
    cursor: pointer;
    background-color: #a6d6f6;
}
.project-info:hover{
    cursor:pointer;
    background-color: #a6d6f6;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    z-index:2;
    color: white;
}
.contacts{
    display: inline-block;
    margin-top: 5px;
    z-index:2;
   
    margin: 0 20px;
   
}

.contact-item {
    margin: 0 10px; /* Adjust margin as needed */
    display: inline-block;
  
    align-items: center;
    z-index: 2;
    margin-top: 5px;
  }  

.contact-item img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contact-item img:hover {
    transform: scale(1.1); /* Enlarge the icon slightly on hover */
}

.quote {
    text-align: center;
    margin-top: 20px;
    z-index:2;
    color:white;
}

.quote p {
    font-size: 50px;
    color:white;
    margin: 5px 0;

}
.itsme{
    color: white;
    font-size: 50px;
    text-align: center;
}
section{
    padding: 50px 0;
}
projects{
    margin: 30px;
}
 
 @media only screen and (max-width:768px)
 {
    .hi1{
        color: whitesmoke;
        position: relative;
        z-index: 2;
        top:5%;
       padding:3px;
        display:flex;
        margin-left:262px;
        margin-top:  10px;
        text-align:center;
        margin-right:200px;
 }
 .para1{
    z-index: 2;
    color: whitesmoke;
    font-style: italic;
    font-size: 30px;

}


.projects{
    margin-left: 112px;
    
}
.project-box{
    background-color: white;
   
    color: white;
    z-index: 2;
    transform: translateX(-50%);
   
    width: calc(33.33% - 10px); /* Adjust as needed for spacing */
    margin-bottom: 20px;
    box-sizing: border-box;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

.itsme{
   
    margin-left: 15%;
    margin-bottom: 0%;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    z-index:2;
    color: white;
}
.contacts{
    display: inline-block;
    margin-top: 5px;
    z-index:2;
   
    margin:  20px;
   
}

.contact-item {
    margin: 0 10px; /* Adjust margin as needed */
    display: inline-block;
  
    align-items: center;
    z-index: 2;
    margin-top: 5px;
  } 

.container{
    position: fixed;
    top: 0;
    left: 45%;
    right: 0;
    z-index: 2;
    text-align: center;
    transform: translateX(-50%);/* Optional: Add a background color */
    width: 100%; /* Ensure the header spans the full width */
    padding: 10px 0; /* Optional: Add padding for better spacing */
    
}
.btn {

    padding: 5px 10px;
    margin: 2px;
}
.p{
    font-size:50px;
    margin-top: 100px;


}


.p1{
    font-size:15px;
    margin:10px;
  }
  .pi{
    margin-top:100px;
  }
 }
/* Ensure project boxes stack vertically */

